*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#a373d7,#5c7094,#228fad);
    min-height:100vh;
    padding:40px;
}

.container{
    max-width:1200px;
    margin:auto;
}

header{
    text-align:center;
    color:white;
    margin-bottom:30px;
}

header h1{
    font-size:40px;
    margin-bottom:10px;
}

header p{
    font-size:18px;
    opacity:.9;
}

.card{
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(18px);
    border-radius:20px;
    padding:25px;
    margin-bottom:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    border:1px solid rgba(255,255,255,.25);
}

.card h2{
    color:#fff;
    margin-bottom:20px;
}

.form-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
}

input,
select{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    outline:none;
    background:rgba(255,255,255,.9);
    font-size:15px;
}

button{
    margin-top:20px;
    padding:14px 35px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    background:linear-gradient(45deg,#e19689,#ec5d7f);
    color:white;
    font-size:17px;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(255,65,108,.45);
}

.toolbar{
    display:flex;
    gap:15px;
    margin-bottom:20px;
    flex-wrap:wrap;
}

table{
    width:100%;
    border-collapse:collapse;
    overflow:hidden;
    border-radius:15px;
}

thead{
    background:#c2a7ee;
    color:white;
}

th{
    padding:15px;
}

td{
    padding:15px;
    text-align:center;
    background:rgba(255,255,255,.92);
}

tbody tr:hover{
    background:#f3f4f6;
    transition:.3s;
}

.edit-btn{
    background:#bdefde;
    color:white;
    padding:8px 14px;
    border-radius:8px;
    margin-right:5px;
}

.delete-btn{
    background:#ecb6b6;
    color:white;
    padding:8px 14px;
    border-radius:8px;
}

.edit-btn:hover{
    background:#056547;
}

.delete-btn:hover{
    background:#8f0a0a;
}

@media(max-width:768px){

header h1{
    font-size:30px;
}

table{
    font-size:13px;
}

button{
    width:100%;
}

.toolbar{
    flex-direction:column;
}

}